/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btnDeCount{
    padding: 0.3rem;
    color: white;
    background-color: blue;
    border: 2px solid white;
    border-radius: 1rem;
}
.btnInCount{
    padding: 0.3rem;
    color: white;
    background-color: blue;
    border: 2px solid white;
    border-radius: 1rem;
}
.strCount{
    color: blue;
    font-size: 1rem;
    font-weight: bold;
}

.btnAgregar{
    display: block;
    margin-left: 41%;
    margin-top: .1rem;
    text-decoration: none;
    text-align: center;
    font-size: 1rem;
    width: 10rem;
    background-color: blue;
    color: white;
    border-radius: 10px;
    border: 1px solid white;
    align-items: end;

}
/* Utilizo media queries para aplicar estilos específicos a diferentes tamaños de pantalla */
@media screen and (max-width: 768px) {
    /* Ocultar el titulo de la tienda del navbar */
    .btnAgregar {
    margin-left: 20%;
    }

}